menu "coap example"
    if WALTER_MODEM_KCONFIG
        config CELLULAR_APN
            string "cellular apn"
            default ""
            help
                the apn to connect to

        config SEND_DELAY_MS
            int "data transmission delay"
            default 10000
            help
                the data transmission delay to the coap demo server

        config MODEM_COAP_PROFILE
            int "the COAP profile id"
            default 0
    endif
    
endmenu