menu "Walter BlueCherry example"
    if WALTER_MODEM_KCONFIG
        config CELLULAR_APN
            string "Cellular APN"
            default ""
            help
                Set the cellular APN to connect to.
        config BC_DEVICE_TYPE
            string "BlueCherry Device type"
            default "walter01"
            help
                Set the BlueCherry Device type as found in the BlueApp.
        config BC_TLS_PROFILE
            int "Modem TLS profile ID for BlueCherry"
            default 1
            help
                Specify what TLS profile ID the modem will use to configure TLS communication with BlueCherry.
                It is recommended to not re-use this profile for other TLS-enabled communication.
    endif
endmenu